.feature {
  display: flex;
  align-items: center;
  .feature__item {
    flex-basis: calc((100% - 3 * 23px) / 4);
  }
  .feature__container {
    display: flex;
    flex-wrap: wrap;
    width: 270px;
    height: 120px;
    background-color: rgba(245, 244, 250, 1);
    align-content: center;
    justify-content: center;
    .feature__icon {
      width: 70px;
      height: 70px;
    }
  }
  .feature__Title {
    font-weight: 700;
    line-height: 1.17;
  }
  .feature__text {
    color: $paragraph-color;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}
