.filter {
  display: flex;
  justify-content: center;
  &_group {
    padding-bottom: 54px;
  }
  &_gap {
    gap: 8px;
  }
}
.button--filter {
  background-color: $filter-color;
  color: $text-color;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-style: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 6px 26px;
  transition: $trans-bg;
  /*width: max-content;
      height: max-content;*/
  &_all {
    color: $main-color;
    background-color: $webstudio-color;
  }
  &:hover {
    color: $main-color;
    background-color: $webstudio-color;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08),
      0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  }
  &:focus {
    color: $main-color;
    background-color: $webstudio-color;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08),
      0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  }
}

/*.button--filter:focus {
    outline: none;
  }*/
.proyect {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  padding-bottom: 94px;
  &_item {
    flex-basis: calc((100% - 2 * 30px) / 3);
    border: 1px solid rgba(238, 238, 238, 1);
    cursor: pointer;
    &:hover {
      box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06),
        0px 1px 1px 0px rgba(0, 0, 0, 0.12);
    }
    &:focus {
      box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06),
        0px 1px 1px 0px rgba(0, 0, 0, 0.12);
    }
  }

  .proyect__img {
    position: relative;
    overflow: hidden;
  }
  /* tarjetas de proyectos */
  .proyect__img--slide {
    position: absolute;
    top: 100%;
    width: 370px;
    height: 294px;
    margin: 0%;
    color: $main-color;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.55;
    background-color: rgba(33, 150, 243, 0.9);
    padding: 63px 24px;
    transition: top 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .proyect__img:hover .proyect__img--slide {
    top: 0%;
  }
  /* tarjetas de proyectos */
  .proyect__Title {
    color: rgba(33, 33, 33, 1);
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
    padding-left: 24px;
    padding-top: 20px;
    margin: 0px;
  }
  .proyect__text {
    color: $paragraph-color;
    font-size: 16px;
    line-height: 1.87;
    padding-left: 24px;
    padding-bottom: 20px;
    margin: 0px;
  }
}
